<app-navigation-transparent></app-navigation-transparent>

<!--Carousel Wrapper-->
<div class="carousel slide carousel-fade">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view">

                <!--Video source-->
                <video class="video-intro" autoplay loop muted>
                    <source src="../../assets/images/bg_video.mp4" type="video/mp4" />
                </video>

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Welcome to BlockPay</strong>
                        </h1>

                        <p class="mb-4 d-none d-md-block">
                            <strong>New revolutionary paygate. Supports payments between
                                cryptocurrencies and fiat. To create your own
                                paygate,</strong>
                        </p>

                        <a button type="button" routerLink="/registration"
                            class="btn text-white btn-lg border border-light rounded waves-effect waves-light">Register
                            here</a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/First slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<main>
    <div class="container">
        <section class="mt-5 wow fadeIn">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <img src="../../assets/images/paygate.png" class="img-fluid z-depth-1-half" alt="">
                </div>
                <div class="col-md-6 mb-4">
                    <h3 class="h3 mb-3">Responsive self designed paygate</h3>
                    <p>
                        You can choose currency you want your clients to pay you in. <br> Crypto <i class="fab fa-btc"></i> or fiat <i class="fas fa-dollar-sign"></i>.

                    </p>
                    <hr>
                    <p>To create your own paygate for your business:</p>
                    <a routerLink="/registration" class="btn btn-grey btn-md">Sign Up
                    </a>
                    |
                    <a routerLink="/login" class="btn btn-grey btn-md">Sign In
                    </a>
                </div>
            </div>
        </section>
        <hr class="my-5">
        <section>
            <h3 class="h3 text-center mb-5">About BlockPay</h3>
            <div class="row wow fadeIn">
                <div class="col-lg-6 col-md-12 px-4">
                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-hourglass-half fa-2x"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Save time</h5>
                            <p class="grey-text">managing payment requests.</p>
                        </div>
                    </div>
                    <div style="height:30px"></div>
                    <div class="row">
                        <div class="col-1 mr-3">
                            <i class="fas fa-piggy-bank fa-2x"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Save money</h5>
                            <p class="grey-text">with middle exchange rates.
                            </p>
                        </div>
                    </div>
                    <div style="height:30px"></div>
                    <div class="row">
                        <div class="col-1 mr-3">
                                <i class="fas fa-book fa-2x"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="feature-title">Learn fast</h5>
                            <p class="grey-text">how to use our paygate. It's easy and intuitive!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                            <img src="../../assets/images/Mexico-Blockchain.jpg" style="height:300px;" class="img-fluid z-depth-1-half" alt="">
                </div>
            </div>
        </section>
    </div>
</main>
<!--Main layout-->

<app-footer></app-footer>