<div style="position: relative">

  <!--
    Html component for transactions
  -->

  <label class="col-4">Select cryptocurrency for payment</label>

  <!--
    Select for transaction types
    Execute changeFields() function
    Mapped to selectedType
  -->
  <select [(ngModel)]="selectedType" (change)="changeFields()" class="browser-default custom-select col-4">
    <option *ngFor="let transationType of transactionTypes" [ngValue]="transationType.type_name">
      {{transationType.type_name}} - {{transationType.type_display}}
    </option>
  </select>

  <!--
    Exchange rate between selected currency and EUR
    Mapped to exchangeRate and selectedType
  -->
  <span class="badge badge-info" style="position: absolute; right: 0; bottom: 0">1 {{ selectedType}} = {{ exchangeRate | number:'1.6-6' }} EUR</span>

</div>

<!--
  Form for transaction
  On submit execute sendForm()
 -->
<form (ngSubmit)="sendForm()" #form="ngForm" class="form">
  <div *ngFor="let formInput of formInputs; index as j" class="row">
    <!--
        Print current row index
      -->
    <div class="col my-auto">
      <h5 class="index-number">
        <b>{{j + 1}}</b>
      </h5>
    </div>
    <!--
        Show fields of selected transaction type
        Mapped by formInput[index].value
      -->
    <div *ngFor="let field of formInput; index as i" class="col-4">
      <div class="md-form">
        <input mdbInput type="text" id="form-{{j}}-{{i}}" class="form-control" name="{{ field.field_name }}"
          [(ngModel)]="field.value" [ngModelOptions] = "{ standalone: true }">
        <label for="form-{{j}}-{{i}}" class="">{{ field.field_display }}</label>
      </div>
    </div>
    <!--
        Show input for current row
        Mapped by walletsInputs[index]
      -->
    <div class="col-2">
      <div class="md-form">
        <input mdbInput type="number" id="value-{{j}}" class="form-control" name="value-{{j}}"
          [(ngModel)]="walletsInputs[j]">
        <label for="form1" class="label">Input in satoshi</label>
      </div>
    </div>
    <!--
        Placeholders for plus sign
      -->
    <div *ngIf="formInputs.length > j + 1" class="col my-auto"></div>
    <!--
        Plus sign
        On click execute addInputRow()
      -->
    <fa *ngIf="formInputs.length === j + 1" name="plus-circle" class="col my-auto plus-sign" (click)="addInputRow()">
    </fa>
    <!--
        Placeholders for minus sign
      -->
    <div *ngIf="formInputs.length === 1" class="col my-auto"></div>
    <!--
        Minus sign
        On click execute removeInputRow() with current index
      -->
    <fa *ngIf="formInputs.length !== 1" name="minus-circle" class="col my-auto minus-sign" (click)="removeInputRow(j)">
    </fa>
  </div>

  <div class="border-top my-3"></div>
  <div class="container">
    <div class="row">
      <!--
        Show seller wallet address
        Mapped by sellerWallet
        Disabled
      -->
      <div class="col-4">
        <div class="md-form">
          <input mdbInput type="text" id="seller" class="form-control" name="seller_wallet" [(ngModel)]="sellerWallet"
            disabled>
          <label for="seller" class="label">Seller wallet</label>
        </div>
      </div>
      <!--
        Show input for price to pay
        Mapped by price
      -->
      <div class="col-3">
        <div class="md-form">
          <input mdbInput type="number" id="price" class="form-control" name="price" [(ngModel)]="price" disabled>
          <label for="price" class="label">Price</label>
        </div>
      </div>
      <!--
        Show input for price of fees
        Mapped by price
      -->
      <div class="col-3">
        <div class="md-form">
          <input mdbInput type="number" id="fees" class="form-control" name="fees" [(ngModel)]="fees">
          <label for="fees" class="label">Fees in satoshi</label>
        </div>
      </div>
      <!--
        Show input for fee wallet order
        Mapped by feeWallet
      -->
      <div class="col-2">
        <div class="md-form">
          <input mdbInput type="number" id="feeWallet" class="form-control" name="feeWallet" [(ngModel)]="feeWallet">
          <label for="feeWallet" class="label">Fee wallet order</label>
        </div>
      </div>
    </div>
  </div>
  <!--
    Button for executing form submit
  -->
  <div>
    <button type="submit" mdbBtn color="info" mdbWavesEffect>Send</button>
  </div>
</form>
<!--Grid row-->
<div class="row wow fadeIn mt-4">
    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <!--Card-->
      <div class="card mb-4">
          <!--Card content-->
          <div class="card-header text-center">
              Exchange rates table
              <mdb-icon far icon="question-circle" matTooltip="real-time exchange rates table" style="float:right"></mdb-icon>
          </div>
          <div class="card-body">
              <app-exchange-rates-table></app-exchange-rates-table>
          </div>
      </div>
      <!--/.Card-->
  </div>
  <!--Grid column-->
  <!--Grid column-->
  <div class="col-md-6 mb-4">
      <!--Card-->
      <div class="card mb-4">
          <!--Card content-->
          <div class="card-header text-center">
              Exchange rates chart
              <mdb-icon far icon="question-circle" matTooltip="real-time exchange rate chart for selected currency" style="float:right"></mdb-icon>
          </div>
          <div class="card-body" style="display: grid">
              <app-exchange-rates-chart style="max-height: 300px"></app-exchange-rates-chart>
          </div>
      </div>
      <!--/.Card-->
  </div>
  <!--Grid column-->
</div>
<!--Grid row-->