<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark">
    <mdb-navbar-brand><a class="navbar-brand base-color base-color" routerLink="/">
        <img src="assets/images/logoNewTransparent.png" height="50" alt="Team logo">
        BlockPay</a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light base-color" mdbWavesEffect routerLink="/transaction/1/150/15000">Test PayGate</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link border border-light rounded waves-effect waves-light base-color" mdbWavesEffect routerLink="/registration">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light base-color" mdbWavesEffect routerLink="/login">Login</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
