<app-navigation-seller></app-navigation-seller>
<main>
    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
            <h4 class="mb-2 mb-sm-0 pt-1">
                <span>Dashboard</span>
                <span> / </span>
                <span>Welcome</span>
            </h4>
        </div>
    </div>
    <!-- Heading -->
    <!--Grid row-->
    <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-header text-center">
                    Transaction history
                    <mdb-icon far icon="question-circle" matTooltip="complete list of transactions detail" style="float:right"></mdb-icon>
                </div>
                <div class="card-body">
                    <app-transaction-history></app-transaction-history>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-header text-center">
                    Exchange rates table
                    <mdb-icon far icon="question-circle" matTooltip="real-time exchange rates table" style="float:right"></mdb-icon>
                </div>
                <div class="card-body">
                    <app-exchange-rates-table></app-exchange-rates-table>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-header text-center">
                    Transaction history summary
                    <mdb-icon far icon="question-circle" matTooltip="total price and transaction count for successful and unsuccesful transactions" style="float:right"></mdb-icon>
                </div>
                <div class="card-body">
                    <app-transaction-history-summary></app-transaction-history-summary>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-header text-center">
                    Exchange rates chart
                    <mdb-icon far icon="question-circle" matTooltip="real-time exchange rate chart for selected currency" style="float:right"></mdb-icon>
                </div>
                <div class="card-body" style="display: grid">
                    <app-exchange-rates-chart style="max-height: 300px"></app-exchange-rates-chart>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Card-->
            <div class="card mb-4">
                <!--Card content-->
                <div class="card-header text-center">
                    Transaction history statistics
                    <mdb-icon far icon="question-circle" matTooltip="number of transactions per hour of day" style="float:right"></mdb-icon>
                </div>
                <div class="card-body">
                    <app-transaction-history-statistics></app-transaction-history-statistics>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</main>